<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: white;
        color: #ffffff;
        padding: 4rem 2rem;
      }

      .text-center {
        text-align: center;
        color: black;
      }

      .centered-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div class="centered-div" >
      <div class="text-center">
        <img src="logo_white.jpeg" width="200" height="200" alt="">
      </div>
      <h1 class="text-center">
        You need a working internet connection to use BibleBooks
      </h1>
      <p class="text-center">
        Offline mode is not supported yet!
      </p>
    </div>
  </body>
</html>
