<div class="container">
    <div class="row">
        <% @books.each do |book| %>
            <div class="col-md-4">
                <div class="card mt-3 ">
                    <div class="card-body">
                        <h3><%= link_to book.title, book_path(book.id) %></h3>
                        <%= link_to "View", book_path(book.id), class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= link_to "Create Book", new_book_path %>


